body {
  /* margin: 20px; */
  /* padding: 20px; */
  box-sizing: border-box;
}

.centered {
  justify-content: center;
  align-items: center;
  text-align: center
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.nav-link {
  color: rgba(255,255,255,.5);
}

.nav-link:hover {
  color: rgba(255,255,255,.75);
  cursor: pointer;
}

.react-crop {
  max-height: 300px;
}

.ReactCrop__image {
  display: block;
  max-width: 100%;
  max-height: stretch;
}

.name-jumbotron {
  margin-top: 10vh;
  /* height: 88vh; */
}

.header-button {
  position: relative;
  top: 32px;
}

.row-margin {
  padding-right: 15px;
  padding-left: 15px;
}

.dim-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image-text-container {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-text {
  background-color: #1e201f;
}

.dim-image-container:hover .dim-image {
  opacity: 0.3;
}

.dim-image-container:hover .image-text-container {
  opacity: 1;
}

.small-card-container {
  margin-bottom: 15px;
}

.large-card-container {
  margin-bottom: 35px;
}

.loading-spinner-container {
  position: absolute;
  top: 0px;
  right: 0px;
  /* top: 49%;
  left: 49%; */
  text-align: center;
  background-color: #2e3130;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.loading-spinner {
  position: absolute;
  top: 50%;
}

/* .infinite-scroll-component__outerdiv {
  width: 100%;
} */